<!-- =========================
   PRODUCTS SECTION   
============================== -->

<section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
	<div class="container">
			
    <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Alege destinatia ta</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Noi am ales topul destinatiilor pentru tine. Acum este randul tau sa decizi unde vrei sa incepi calatoria ta!
		</h6>

		<div class="wow fadeInRight animated testimonials-btn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="" class="btn btn-primary custom-button red-btn">EXPLOREAZĂ TOATE DESTINAȚIILE</a>
		</div>

	</div>
	<!-- / END SECTION HEADER -->
		
		<!-- <div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
		</div> -->

		<!-- PRODUCTS -->
		<div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            
            <!-- SINGLE PRODUCT -->
                <div class="col-md-3">
				<div class="item item-1">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Barcelona</h5>  <!-- PRODUCT TITLE-->
										<p class="subdescription">
											 Spania
										</p> <!-- PRODUCT DESCRIPTION-->
									</div>
								</div>
								<div class="item-product-price hidden">
									<!-- PRICE -->
									<span class="price-num green-text">$17</span> 
									<!-- OLD PRICE START -->
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div> <!-- END OLD PRICE -->
								</div>
							</div>
						</div>
						
						<!-- ITEM HOVER CONTENT-->
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/barcelona" class="btn btn-primary custom-button red-btn exploreaza">Exploreaza</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- / END FIRST ITEM -->
			
			<div class="col-md-3">
				<div class="item item-2">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Paris</h5>
										<p  class="subdescription">
											 Franța
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$17</span>
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS
									</p>
								</div>
								<div class="section">
									<a href="/exploreaza/paris" class="btn btn-primary custom-button red-btn exploreaza">Exploreaza</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-3">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Venetia</h5>
										<p class="subdescription">
											 Italia
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$9</span>
									<p class="subdescription">
										 $15
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/venetia" class="btn btn-primary custom-button red-btn exploreaza">Exploreaza</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-4">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Moscova</h5>
										<p class="subdescription">
											 Rusia
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$11</span>
									
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/moscova" class="btn btn-primary custom-button red-btn exploreaza">Explorează</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div> <!-- END FIRST ROW -->
			
			<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-md-3">
				<div class="item item-5">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>San Francisco</h5>
										<p class="subdescription">
											 Statele Unite ale Americii
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$15</span>
									<p class="subdescription">
										 $23
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/san-francisco" class="btn btn-primary custom-button red-btn exploreaza">Explorează</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-6">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Dublin</h5>
										<p class="subdescription">
											 Irlanda
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$18</span>
									<p class="subdescription">
										 $30
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/dublin" class="btn btn-primary custom-button red-btn exploreaza">Explorează</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-7">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Varșovia</h5>
										<p class="subdescription">
											 Polonia
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$10</span>
									<p class="subdescription">
										 $30
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/varsovia" class="btn btn-primary custom-button red-btn exploreaza">Explorează</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-8">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Nice</h5>
										<p class="subdescription">
											 Franța
										</p>
									</div>
								</div>
								<div class="item-product-price hidden">
									<span class="price-num green-text">$17</span>
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p> Explorează cu LSRS </p>
								</div>
								<div class="section">
									<a href="/exploreaza/nice" class="btn btn-primary custom-button red-btn exploreaza">Explorează</a><br/>
									<!-- <a href="#" class="btn btn-primary custom-button green-btn">Buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- / END PRODUCTS LIST -->
	</div> <!-- / END CONTAINER -->
</div> <!-- / END COLOR OVERLAY -->
</section> <!-- / END PRODUCTS SECTION -->