<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team" id="team">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Echipa Noastra</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6> Cunoaste echipa care a dat viata acestui proiect. </h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
		<!-- MEMBER -->
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="images/team/pic1.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Anamaria Enea</h5>
					<div class="position">
						Manager de proiect
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		<!-- / END MEMBER -->
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic2.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text green-border-bottom">Petre Diaconescu</h5>
					<div class="position">
						Senior Desigener
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic3.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Anca Croitoru</h5>
					<div class="position">
						Suport Marketing
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic4.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text yellow-border-bottom">Membru echipa</h5>
					<div class="position">
						Art Director
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic5.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Membru echipa</h5>
					<div class="position">
						Project Manager
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic6.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text green-border-bottom">Membru echipa</h5>
					<div class="position">
						Photographer
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic7.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Membru echipa</h5>
					<div class="position">
						Business Development
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic8.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text yellow-border-bottom">Membru echipa</h5>
					<div class="position">
						Account Manager
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
	</div> <!-- / END TEAM MEMBER LIST -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->


<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us" id="contact">
<div class="container">
	
	<!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Contacteaza-ne</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Ai vreo intrebare? Scrie-ne un mesaj. Vom reveni cu un raspuns in urmatoarele 24 de ore.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CONTACT FORM-->
	<div class="row">
		<form role="form" class="contact-form" id="contact-form">
			<div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="name" placeholder="Numele tău" class="form-control input-box" id="name">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="email" name="email" placeholder="Email" class="form-control input-box" id="email">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="subject" placeholder="Subiect" class="form-control input-box" id="subject">
			</div>
			</div>
			
			<div class="clearfix">
			<div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<textarea name="message" class="form-control textarea-box" placeholder="Mesajul tău" id="message"></textarea>			</div>
			</div>
			<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success pull-left white-text">
						Your message has been sent successfully.
					</h4>
					
					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error pull-left white-text">
						E-mail must be valid and message must be longer than 1 character.
					</h4>
			<button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Trimite</button>
		</form>
	</div>
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->